{% load static i18n compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share photos with django project"/>
    <meta name="author" content="Rodolfo"/>

    <title>{% block title %}Django + Tailwind CSS + Flowbite{% endblock title %}</title>
    <script src="https://kit.fontawesome.com/6f83d1d3e1.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicons/favicon.ico" %}">
    {% block javascript %}
        <!-- {# Placed at the top of the document so pages load faster with defer #} -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"
                crossorigin="anonymous"></script>
        <!-- My stuff: Third-party javascript libraries go here -->

        <!-- place project specific Javascript in this file -->
        {% comment %} {# <script defer src="{% static "js/sidebar.js" %}"></script> #} {% endcomment %}
    {% endblock javascript %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "src/output.css" %}">
    {% endcompress %}

</head>

<body class="bg-gray-100">

    <header>
        {% include "includes/navbar.html" %}
    </header>

    <main class="mt-4 px-4">
        {% block layout %}
        {% endblock layout %}
    </main>

    {% comment %} {# <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script> #} {% endcomment %}

</body>

</html>
